@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
  scroll-padding-top: 90px;
}




body {
  background-color: #111010;
}

.ContainerPrimary {
  max-width: 1280px;
  margin-inline: auto;

}


.backgroudNavbar {
  background-image: linear-gradient(to right bottom, #1d292a, #223132, #273a3b, #2d4244, #324b4d);
}

.Colorbase {
  background-color: #111010;
}


@keyframes flutuar {
  0% {
    top: 0;
  }

  100% {
    top: 30px;
  }
}

.flutuar {
  position: relative;
  animation: flutuar 2s ease-in-out infinite alternate;
}


form label {
  color: #f5f5f5;
  font-size: 17px;
  margin-bottom: 4px;
}

form input {
  padding: 15px;
  outline: none;
  border: 0;
  margin-bottom: 20px;
  font-size: 15px;
  transition: all 0.5s;
}

form input:focus {
  border-radius: 16px;
}

form textarea {
  transition: all 0.5s;
  max-height: 255px;
  resize: none;

}

form textarea:focus {
  border-radius: 16px;
}

form button {
  transition: all 1s;
}


form button:hover {
  border-radius: 16px;
  color: #000;
  background-color: #f5f5f5;

}




.none {
  display: none;
}



.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--swiper-theme-color);
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--swiper-theme-color);
  fill: none;
  stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}


.menu-mobile {
  background: #111010;
  height: 100vh;
  width: 0%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
  overflow: hidden;
  transition: .5s;
}

.menu-mobile.abrir-menu {
  width: 70%;
}

.overlay-menu {
  background-color: #000000a7;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8888;
  display: none;
}

.menu-mobile.abrir-menu~.overlay-menu {
  display: block;
}


.NoAnimeY{
  opacity: 0;
  filter: blur(15px);
  transition: all 1s;
  transform: translatex(-200px);
 
}

.AnimeY{
  opacity: 1;
  filter: blur(0);
  transition: all 1s;
  transform: translateX(0);
 
  
}



.NoShow {
  opacity: 0;
  filter: blur(15px);
  transition: all 1s;
  transform: translatex(200px);
 

}


.Show {
  opacity: 1;
  filter: blur(0);
  transition: all 1s;
  transform: translateX(0);
  
}


.NoEixo{
  opacity: 0;
  transform: translateX(-100%);
  filter: blur(15px);
  transition: all 1s;
}


.ShowEixo{
  opacity: 1;
  filter: blur(0px);
  transform: translateX(0);
  transition: all 1s;
  transform: perspective(1);
}

.TryAnimation :nth-child(2){
  transition-delay: 300ms;

}


.TryAnimation :nth-child(3){
  transition-delay: 600ms;

}

.TryAnimation :nth-child(4){
  transition-delay: 900ms;

}

.TryAnimation :nth-child(5){
  transition-delay: 1200ms;

}

.TryAnimation :nth-child(6){
  transition-delay: 1500ms;

}


